
<div class ="row">
    <div class = "col-md-3 text center">
        <%= image_tag @user.profile.avatar.url, class: 'user-show-avatar' %>
        <%= image_tag @user.profile.avatar.url %>
    </div>
    <div class = "col-md-3">
    <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
    <h3><%= @user.profile.subject %></h3><br/>
    <%= @user.profile.contact_email %><br/>
    <div class="well profile-description"><%= @user.profile.description %></div>
    
      <%= @user.profile.phone_number %><br/>
    </div>
</div>